.or {
	BORDER-RIGHT: #a62869 1px solid; BORDER-TOP: #a62869 1px solid; BORDER-LEFT: #a62869 1px solid; BORDER-BOTTOM: #a62869 1px solid
}
.red {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.red1 {
	PADDING-RIGHT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ea0000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.right {
	PADDING-LEFT: 5px
}
.right1 {
	PADDING-LEFT: 30px
}
.wai {
	PADDING-BOTTOM: 50px
}
.pc_bottom {
	BACKGROUND: url(../touch-maker_2.gif) no-repeat 0px 0px; HEIGHT: 100%
}
.pc_left {
	BACKGROUND: url(../touch-maker_4.gif) no-repeat 100% 0px; HEIGHT: 531px
}
.pc_right {
	BACKGROUND: url(../touch-maker_6.gif) no-repeat 0px 0px; HEIGHT: 531px
}
A:link {
	COLOR: #a62869; TEXT-DECORATION: none
}
A:visited {
	COLOR: #a62869; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f6429f; TEXT-DECORATION: none
}
A:active {
	COLOR: #a62869; TEXT-DECORATION: none
}
.po {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana
}
.demo {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 80px
}
